{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'main/main.css'%}">
</head>
<body>
  <h1 class=" logo font-weight-bold text-white">Simpy</h1>
  <div class="d-flex flex-column flex-md-row align-items-center  p-5 px-md-5 mb-3 bg-dark border-bottom shadow-sm">
    <div class=" my-0 mr-md-auto">
    </div>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-white text-decoration-none " href="#"><b>Услуги</b></a>
      <a class="p-2 text-white text-decoration-none" href="#"><b>Контакты</b></a>
      <a class="p-2 text-white text-decoration-none" href="#"><b>Про нас</b></a>
    </nav>
  </div>
  <div class="container">
    {% block main_section %}
    {% endblock %}
  </div>
</body>
</html>
